# Notebook for calculate the critical temperature uncertainties

In [55]:
import os
import numpy as np
import time
import pandas as pd

In [73]:
# # infinite
# data_path=os.path.join("C:\\Users\\MHJGuillermo\\PycharmProjects\\Doctorado\\Ising\\isingchat\\venv\\data\\regular\\infinite-size\\Extrapolation")
# file_all_inv_tc = 'inv_Tc_vs_inv_nv_extrapol_hurwitz_2_parms_with_nv_5plus_and_error_extrapol_values.csv'

# finite
data_path=os.path.join("C:\\Users\\MHJGuillermo\\PycharmProjects\\Doctorado\\Ising\\isingchat\\venv\\data\\regular\\finite-size\\Extrapolation")
file_all_inv_tc = 'finite_inv_Tc_vs_inv_nv_extrapol_gen_zeta_2_parms_with_nv_3plus_with_errors_c_extrapol_values.csv'

df_all_inv_tc = pd.read_csv(os.path.join(data_path,file_all_inv_tc),index_col=0)

In [74]:
df_all_tc = df_all_inv_tc

In [75]:
# for P1.0
df_all_tc["P1.0"]["infty"]=0
df_all_tc["P1.0"]["infty_err"]=0

COLUMNS = ["P1.05","P1.1","P1.2","P1.3","P1.4","P1.5","P1.6","P1.7","P1.8","P1.9","P2.0"]
for col in COLUMNS:
    inv_tc = df_all_inv_tc[col]["infty"]
    inv_tc_err = df_all_inv_tc[col]["infty_err"]
    df_all_tc[col]["infty"] = 1/inv_tc
    df_all_tc[col]["infty_err"] = (inv_tc_err)/(inv_tc**2)

In [76]:
df_all_tc

,P1.0,P1.05,P1.1,P1.2,P1.3,P1.4,P1.5,P1.6,P1.7,P1.8,P1.9,P2.0
infty,0.0,39.888074,19.380756,9.289131,6.052227,4.493309,3.586741,3.007992,2.607111,2.317382,2.097615,1.92851
infty_err,0.0,4.250182,2.161051,1.162023,0.777267,0.585362,0.480148,0.406196,0.357252,0.357320,0.339965,0.40816

## Save data

In [77]:
# #infinte
# save_file = "Tc_hurwitz_2_parms_with_nv_5plus_and_error_extrapol_values.csv"
#finite
save_file = "finite_Tc_hurwitz_2_parms_with_nv_3plus_and_error_c_extrapol_values.csv"

df_all_tc.to_csv(os.path.join(data_path,save_file),index=False)