# Notebook for calculate the critical temperature uncertainties

In [1]:
import os
import numpy as np
import time
import pandas as pd

In [3]:
# # infinite
data_path=os.path.join("C:\\Users\\MHJGuillermo\\PycharmProjects\\Doctorado\\Ising\\isingchat\\venv\\data\\regular\\infinite-size\\Extrapolation")
# file_all_inv_tc = 'inv_Tc_vs_inv_nv_extrapol_hurwitz_2_parms_with_nv_5plus_and_error_extrapol_values.csv'
file_all_inv_tc = "inv_Tc_vs_inv_nv_extrapol_hurwitz_2_parms_with_nv_5plus_and_error_v30nv_extrapol_values.csv"

# finite
# data_path=os.path.join("C:\\Users\\MHJGuillermo\\PycharmProjects\\Doctorado\\Ising\\isingchat\\venv\\data\\regular\\finite-size\\Extrapolation")
# file_all_inv_tc = 'finite_inv_Tc_vs_inv_nv_extrapol_gen_zeta_2_parms_with_nv_3plus_with_errors_c_extrapol_values.csv'

df_all_inv_tc = pd.read_csv(os.path.join(data_path,file_all_inv_tc),index_col=0)

In [4]:
df_all_tc = df_all_inv_tc

In [5]:
# for P1.0
df_all_tc["P1.0"]["infty"]=0
df_all_tc["P1.0"]["infty_err"]=0

COLUMNS = ["P1.05","P1.1","P1.2","P1.3","P1.4","P1.5","P1.6","P1.7","P1.8","P1.9","P2.0"]
for col in COLUMNS:
    inv_tc = df_all_inv_tc[col]["infty"]
    inv_tc_err = df_all_inv_tc[col]["infty_err"]
    df_all_tc[col]["infty"] = 1/inv_tc
    df_all_tc[col]["infty_err"] = (inv_tc_err)/(inv_tc**2)

In [6]:
df_all_tc

,P1.0,P1.05,P1.1,P1.2,P1.3,P1.4,P1.5,P1.6,P1.7,P1.8,P1.9,P2.0
infty,0.0,41.346820,20.177709,9.782906,6.344906,4.67720,3.688079,3.043394,2.593641,2.265474,2.017718,1.827098
infty_err,0.0,3.179544,1.742576,0.959563,0.710281,0.57393,0.472259,0.394800,0.334518,0.275011,0.211613,0.156810

## Save data

In [7]:
# #infinte
save_file = "Tc_hurwitz_2_parms_with_nv_5plus_and_error_v30nv_extrapol_values.csv"
#finite
# save_file = "finite_Tc_hurwitz_2_parms_with_nv_3plus_and_error_c_extrapol_values.csv"

df_all_tc.to_csv(os.path.join(data_path,save_file),index=False)